/*  */
@font-face {
    font-family: "CascadiaCode";
    src: url('fonts/CascadiaCode/ttf/CascadiaCode.ttf') format('truetype');

}
body {
    font-family: "CascadiaCode";
}



/* Section Dividers */
.container {
    display: block;
}

.title {

    margin: auto;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;


}


.aboutMe {

    margin: auto;
    
    margin-left: 10%;
    margin-right: 10%;

}

.projects {

    margin: auto;
    
    margin-left: 10%;
    margin-right: 10%;

}

.projectBox {

    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    border-left: solid;
    border-right-width: 100;

    border-color: black;
    width: 90%;
    padding-left: 2.5%;

    
}

.project_title {
    line-height: 1px;
}


