/*  */
@font-face {
    font-family: "CascadiaCode";
    src: url('fonts/CascadiaCode/ttf/CascadiaCode.ttf') format('truetype');

}
body {
    font-family: "CascadiaCode";
    background-color: #EEEEEE;
    color: #393E46;
}

h1, h2, h3 {
    color: #222831;
    background-color: 393E46;
}



/* Section Dividers */
.container {
    display: block;
}

.title {
    background-color: 393E46;
    color: #222831;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;

}


.aboutMe {
    
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;

}

.projects {

    margin: auto;
    margin-left: 10%;
    margin-right: 10%;

}

.projectBox {

    display: inline-block;
    margin-left: 5%;
    margin-right: 10%;
    border-left: solid;
    border-right-width: 100;
    border-left-width: 0.5vh;
    border-color: #222831;
    color: #393E46;
    width: 90%;
    padding-left: 2.5%;
    

    
}

.projectBox:hover {
    background-color: white;
    
}

.project_title {
    line-height: 1px;
    
}


